*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    width:100%;


}
.logo h1{
    font-size: 2rem;
    font-weight: bold;
}
.logo tagline{
    font-size: 1.2rem;
    opacity: 0.8;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    list-style: none;
    display: flex;
    

    
}


.nav-list a{

    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: transform 0.3s ease;
    display: inline-block;
    
    
} 


.nav-list a:hover{
    
    background-color: #555;
    transform: translateY(-20px);
    cursor: pointer;
    border-color: red;
    border-style: solid;
    border-width: 2px;

}
.hero{height:100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./premium_photo-1678897742200-85f052d33a71.avif");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top:80px;
    transition:background-position 2s ease-in-out;


}
.hero-content h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero-content p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    text-align: center;

    
}
.hero-button{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    font-weight: bold;


}
.btn-1{
    background-color: #333;
    border: 2px solid #fff;
}
.btn-1:hover{
    transform: translateY(-3px);
    color: #333;
}
.btn-2{
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
}
.btn-2:hover{
    transform: translateY(-3px);
    
    border: 2px solid #fff;
    color: #fff;
}
.hero:hover{
    background-position: center;
}
